@font-face{
    font-family:'Gilroy B' ;
    src: url('Gilroy-Bold.ttf') format('truetype');
}

@font-face{
    font-family:'Gilroy SB' ;
    src: url('Gilroy-SemiBold.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy SB','Gilroy B';
}
